.container {
    width: 280px;
    background: whitesmoke;
    text-align: center;
    font-size: 12px;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style:normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline-block;
    margin-right: 20px;
}

.heading {
    font-size: 1.5 rem;
    font-weight: 200;
    margin: 8px;
}

@media only screen and (max-width: 42.5rem) {
    .heading {
        font-size: 1.5rem;
    }
}

.container div {
    text-align: left;
}